{% extends 'base_content.html' %}
{% block content %}
<div class="logincontainer">
  <div class="loginBox">
    <h2 class="headingCls">Sign up</h2>
    <form action="{% url 'sign_up' %}" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value="Sign up" class="Loginbtn-color">
    </form>
    <hr />
      <p class="signuptext">Already have an account? <a href="{% url 'log_in' %}" class="textColor55">Log in</a></p>
  </div>
</div>
{% endblock %}